select{
    outline: none;  
}


select:hover{
    outline: none;  
    box-shadow: none;
    border-radius: 8px;
    transform: none;
}


/* select:focus{
    display: none;
    appearance: none;
} */

